.routeContainer {
  padding: var(--space-8);
}

.container {
  margin-top: var(--space-7);

  --grid-layout-gap: var(--space-4);
  --grid-column-count: 7;
  --grid-item--min-width: 190px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}
