.container {
  border-top: 1px solid var(--color-dark-gray);
  background: var(--color-bg-header);
  color: var(--color-text-header);
  display: flex;
  justify-content: center;

  img {
    width: 320px;
    height: 320px;
  }
}

.content {
  max-width: var(--character-details-max-width);
  width: var(--character-details-width);
  display: flex;
  align-items: center;
  gap: var(--space-6);
}

.info {
  width: 100%;

  h1 {
    font-family: 'RobotoCondensedBold';
    font-size: 40px;
    text-transform: uppercase;
  }

  h6 {
    font-family: 'RobotoCondensedRegular';
    font-size: 16px;
    line-height: 18.75px;
    font-weight: normal;
  }
}

.favoriteButton {
  position: relative;
  top: 18px;

  svg {
    width: 24px;
    height: 21px;
  }
}

@media (max-width: 768px) {
  .content {
    flex-wrap: wrap;
  }
}
