:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg-body: #fff;
  --color-bg-header: #000;
  --color-text-body: #000;
  --color-text-header: #fff;
  --color-red: #ec1d24;
  --color-black: #000;
  --color-white: #fff;

  --space-0: 0;
  --space-1: 6px;
  --space-2: 12px;
  --space-3: 18px;
  --space-4: 24px;
  --space-5: 30px;
  --space-6: 36px;
  --space-7: 42px;
  --space-8: 48px;
  --space-9: 54px;
  --space-10: 60px;
}

body {
  color: var(--color-text-body);
  background: var(--color-bg-body);
  margin: var(--space-0);
}
